<style media="screen">

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

  .heading-div {
    color: #018c26;
    display: inline-block;
    padding: 20px 10px 20px 10px;
    margin-bottom: 40px
  }

  .heading-div h1 {
    margin: 0 auto;
  }

  .container {
    display: none
  }

  .course_table {
    font-size: 14px;
    vertical-align: middle;
  }
  .table {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
  }
  table {
    max-width: 100%;
  }
  .course_table .head {
    background-color: #f7941e;
    color: #fff;
    padding: 12px !important;
  }
  .table tr {
    margin-left: 45px;
    margin-right: 45px;
    width: 85%;

  }

  .course_table .course_divider {
    border-right: 1px solid #CACACA !important;
    background: #eee;
    font-weight: bold;
    color: #444;
    font-size: 16px;
    text-align: left;
}

  .table tr, td {
    border: 1px solid #FFDBB1 !important;
  }
  .table td, .table th {
    padding: 0.50rem;
    vertical-align: middle;
  }
  .table th, .table .image, .table .tags {
    text-align: center;
  }

  .table>tbody>tr>td {
  padding: 4px;
  line-height: 1.42857143
  }

  th {
    width: 200px;
  }
  .head .age {
    width: 70px;
  }

  .imgModal {
    cursor: pointer;
  }
  .enroll {
    background: rgba(36,143,0,.6);
    color: #fff;
    padding: 5px;
    display: block;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 11px;
    width: 50px;
    margin: 0 auto;
  }

  .cells {
    text-align: center;
  }
  .cells p {
    font-size: 10px;
  }

  /* The Modal (background) */
.modal, .modal2, .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}
.modal-header {
  background-color: #f7941e;
  color: #fff
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .container {
    display: block;
  }
  .table {
    display: none;
  }
  .col-sm {
    border: 1px solid orange;
    border-radius: 5px;
    margin: 10px 0 10px 0;
  }
  .container div {
    text-align: center;
  }
  .container div a {
    margin: 20px 0 20px 0;
  }
}
</style>
